<?xml version="1.0"?>
<config>
    <modules>
        <Gravitywell_Example>
            <version>0.1.0</version>
        </Gravitywell_Example>
    </modules>
    <global>
        <blocks>
            <gravitywellexample>
                <class>Gravitywell_Example_Block</class>
            </gravitywellexample>
        </blocks>
    </global>
</config>
